name: firstworkflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: "ubuntu-latest"
    steps:
      - name: startpipeling
        run: echo "workflow started"
      - name: pipelineresult
        run: echo "Hello World"
      - name: endingpipeline
        run: echo "clsoing pipeline"
      - name: gettting information
        run: echo" ${{ toJSON(github) }} "
  second-job:
     runs-on: ubuntu-latest
     needs: first-job
     steps:
       - name: Installing python
         uses: actions/setup-python@v5
         with: 
           python:version: "3.10"
       - name: Checking Python installation
         run: python --version
  third-job:
    runs-on: ubuntu-latest
    needs: second-job
    steps:
      - name: Installing terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform-version: "1.1.7"
      - name: Checking Terraform installation
        run: terraform --version
       
